<div class='usr-card'>
  <h3 class='display-picture'><%= user.photo %></h3>
  <div class='user-info'>
    <h2 class='username'><%= user.name %></h2>
    <h4 class='user-no-of-posts'>Number of posts: <%= user.postsCounter %></h4>
  </div>
</div>s
